<% if teams.any? %>
  <ul class="list-unstyled">
    <table class="table" style="table-layout:fixed;width:100%;">
      <thead>
        <tr>
          <th style="width: 5%" scope="col">#</th>
          <th style="width: 15%" scope="col">teamname</th>
          <th style="width: 15%" scope="col">Owner</th>
          <th style="width: 65%" scope="col">description</th>
        </tr>
      </thead>
      <tbody>
        <% teams.each_with_index do |team, idx| %>
          <tr>
            <th scope="row"><%= idx + 1 %></th>
            <td><%= link_to team.name, team_path(team) %></td>
            <td><%= team.user.name %></td>
            <td style="word-wrap:break-word;"><%= team.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>