<ul class="nav nav-tabs mb-3">
  <% unless user.nil? %>
    <li class="nav-item"><a href="<%= about_user_path(user) %>" class="nav-link <%= 'active' if current_page?(about_user_path(user)) %>">About  <span class="badge bg-secondary"><%= @count_followings %></span></a></li>
    <li class="nav-item"><a href="<%= tasks_user_path(user) %>" class="nav-link <%= 'active' if current_page?(tasks_user_path(user)) %>">Tasks  <span class="badge bg-secondary"><%= @count_followers %></span></a></li>
  <% end %>
  <% unless team.nil? %>
    <li class="nav-item"><a href="<%= about_team_path(team) %>" class="nav-link <%= 'active' if current_page?(about_team_path(team)) %>">About  <span class="badge bg-secondary"><%= @count_followings %></span></a></li>
    <li class="nav-item"><a href="<%= tasks_team_path(team) %>" class="nav-link <%= 'active' if current_page?(tasks_team_path(team)) %>">Tasks  <span class="badge bg-secondary"><%= @count_followers %></span></a></li>
  <% end %>
</ul>
<div class="row">
  <div class="col-sm-4">
    <% unless user.nil? %>
      <%= render "layouts/profile_page_left", user: user, team: nil %>
    <% end %>
    <% unless team.nil? %>
      <%= render "layouts/profile_page_left", user: nil, team: team %>
    <% end %>
  </div>
  <div class="col-sm-8">
    <% unless user.nil? %>
      <%= render "layouts/profile_page_right", user: user, team: nil, users: nil, teams: teams, tasks: tasks %>
    <% end %>
    <% unless team.nil? %>
      <%= render "layouts/profile_page_right", user: nil, team: team, users: users, teams: nil, tasks: tasks %>
    <% end %>
  </div>
</div>